<p>{{ idupdate }}</p>
<div class="container">
  <form [formGroup]="addF">
    <!--<div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Id</span>
      </div>
      <input
        type="text"
        formControlName="id"
        aria-label="Last name"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="addF.get('id')?.invalid && addF.get('id')?.touched"
    >
      id is required
    </div>-->

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input
        type="text"
        formControlName="name"
        aria-label="Last name"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="addF.get('name')?.invalid && addF.get('name')?.touched"
    >
      Name pattern Az
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">address</span>
      </div>
      <input
        type="text"
        formControlName="address"
        aria-label="Last name"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="addF.get('address')?.errors?.['maxlength']"
    >
      max length address 10
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Image</span>
      </div>
      <input
        type="text"
        formControlName="image"
        aria-label="Last name"
        class="form-control"
      />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">status</span>
      </div>
      <input
        type="text"
        formControlName="status"
        aria-label="Last name"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="addF.get('status')?.invalid && addF.get('status')?.touched"
    >
      status is disponible!!!
    </div>

    <button class="btn btn-primary" (click)="add()" [disabled]="addF.invalid">
      save
    </button>
  </form>
</div>
